#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;  /*vw = viewportWidth*/
    width: 40vw;
    
    background: url(Images/clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: 100%;
    transform-origin: bottom;
}

#hour{
    width: 3%;
    height: 27%;
    top: 24%;
    left: 49.01%;
    opacity: 0.8;
    
}

#minute{
    width: 2%;
    height: 31%;
    top: 18%;
    left: 49.5%;
    opacity: 0.8;
    
}
#second{
    width: 1%;
    height: 36%;
    top: 13%;
    left: 49.5%;
    opacity: 0.8;
    
}
